.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
out/
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
# gradle dependency caches (https://docs.gradle.org/current/userguide/dependency_resolution.html#sub:cache_locations)
.caches/


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
